:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 42%);
    --darkgray: hsl(0, 0%, 7%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    height: calc(100vh - 1px);
    font-family: sans-serif;
}

.container{
    background-color: var(--white);
    padding: 1.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    border: 1px solid var(--darkgray);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--darkgray);
}

.tag img{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.tag h5{
    display: inline-block;
    background-color: var(--yellow);
    font-size: clamp(0.65rem, 1vw, 0.75rem);
    padding: 0.3rem 0.6rem;
    border-radius: 0.25rem;
    margin-bottom: 0.825rem;
}

.tag p{
    font-size: 0.725rem;
    margin-bottom: .9rem;
}

.description h2{
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

.description p{
    color: var(--gray);
    font-size: 0.825rem;
    margin-bottom: 1.15rem;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.avatar img{
    width: 1.825rem;
    border-radius: 50%;
    margin-left: 0;
}

.avatar a{
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--darkgray);
}

:where(h5, h2, img, a):hover{
    cursor: pointer;
}

@media (min-width: 20rem){
    .container{
        max-width: 20rem;
    }
}